#_preseed_V1

debconf debconf/priority select critical
debconf debconf/frontend select Noninteractive

# UEFI Secure Boot
shim-signed-common shim/secureboot_key password
shim-signed-common shim/secureboot_key_again password

# Localization
d-i debian-installer/locale string en_US
d-i debian-installer/language string en
d-i debian-installer/country string US
d-i debian-installer/locale en_US.UTF-8

# Timezone
d-i console-setup/ask_detect boolean false
d-i clock-setup/utc boolean true
d-i time/zone string America/Chicago
d-i clock-setup/ntp boolean true
d-i clock-setup/ntp-server string us.pool.ntp.org
d-i debian-installer/splash boolean false

# Keyboard
d-i keyboard-configuration/xkb-keymap select us
d-i keyboard-configuration/layoutcode string us
d-i keyboard-configuration/variant select English (US)

# Networking
d-i netcfg/disable_dhcp boolean false
d-i netcfg/enable boolean true
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string unassigned
d-i netcfg/get_domain string localdomain

# Disable that annoying WEP key dialog.
d-i netcfg/wireless_wep string

# Mirror Settings
d-i mirror/country string manual
d-i mirror/http/hostname string http.us.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# Dont Create a Regular User
d-i passwd/make-user boolean false

# Root Account
d-i passwd/root-login boolean true
d-i passwd/root-password password letmein
d-i passwd/root-password-again password letmein

# File System
d-i partman/default_filesystem string ext4

# LVM Partitioning
d-i partman-auto/method string lvm
d-i partman-auto-lvm/guided_size string max
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

# UEFI
d-i partman-efi/non_efi_system boolean true

# Make LVM The Max Size
d-i partman-auto-lvm/guided_size string max
d-i partman-auto-lvm/new_vg_name string debian

# Use On /Dev/SDA
d-i partman-auto/disk string /dev/sda
d-i partman-auto/choose_recipe select boot-lvm

# Disk Partitioning Recipe
# /boot/efi     500MB       gpt
# /boot         500MB       ext2
# /swap                     swap
# /var/log      4GB         ext4
# /tmp          2GB         ext4
# /             All         ext4
d-i partman-auto/expert_recipe string               \
    boot-lvm ::                                     \
        538 538 1075 free                           \
	        $iflabel{ gpt }                         \
	        $reusemethod{ }                         \
	        method{ efi }                           \
	        format{ }                               \
        .                                           \
        512 512 768 ext2                            \
            $defaultignore{ }                       \
            method{ format }                        \
            format{ }                               \
            use_filesystem{ }                       \
            filesystem{ ext2 }                      \
            mountpoint{ /boot }                     \
        .                                           \
        100% 512 200% linux-swap                    \
            $lvmok{ }                               \
            $reusemethod{ }                         \
            lv_name{ swap }                         \
            in_lv{ debian }                         \
            method{ swap }                          \
            format{ }                               \
        .                                           \
        4096 2000 4096 $default_filesystem          \
            $lvmok{ }                               \
            lv_name{ log }                          \
            in_lv{ debian }                         \
            method{ format }                        \
            format{ }                               \
            use_filesystem{ }                       \
            $default_filesystem{ }                  \
            mountpoint{ /var/log }                  \
        .                                           \
        2048 1024 2048 $default_filesystem          \
            $lvmok{ }                               \
            lv_name{ tmp }                          \
            in_lv{ debian }                         \
            method{ format }                        \
            format{ }                               \
            use_filesystem{ }                       \
            $default_filesystem{ }                  \
            mountpoint{ /tmp }                      \
        .                                           \
        16384 16000 -1 $default_filesystem          \
            $lvmok{ }                               \
            lv_name{ root }                         \
            in_lv{ debian }                         \
            method{ format }                        \
            format{ }                               \
            use_filesystem{ }                       \
            $default_filesystem{ }                  \
            mountpoint{ / }                         \
        .


# Remove RAID Partitioning
d-i partman-md/device_remove_md boolean true

d-i partman-partitioning/no_bootable_gpt_biosgrub boolean false
d-i partman-partitioning/no_bootable_gpt_efi boolean false

# Enforce GPT for EFI
d-i partman-basicfilesystems/choose_label string gpt
d-i partman-basicfilesystems/default_label string gpt
d-i partman-partitioning/choose_label string gpt
d-i partman-partitioning/default_label string gpt
d-i partman/choose_label string gpt
d-i partman/default_label string gpt

# No Confirmation
d-i partman-basicfilesystems/no_mount_point boolean false
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Kernel Image
d-i base-installer/kernel/image string linux-server

# APT
d-i apt-setup/contrib boolean true

# Package Selection
tasksel tasksel/first multiselect standard, ssh-server

# Additional Packages
d-i pkgsel/include string vim-nox wget curl git figlet lolcat tree chrony zsh sudo
d-i pkgsel/upgrade select full-upgrade

# Disable Popularity Contest
popularity-contest popularity-contest/participate boolean false

# Force Grub To Install To /dev/sda
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string /dev/sda
d-i grub-installer/no-nvram boolean true

# Allow SSH via Password
openssh-server openssh-server/password-authentication boolean true
openssh-server openssh-server/permit-root-login boolean true

# don't wait for confirm, just reboot when finished
d-i finish-install/reboot_in_progress note

# Eject Media
d-i cdrom-detect/eject boolean true

### GRUB
grub-pc grub-pc/hidden_timeout  boolean true
grub-pc grub-pc/timeout string  0
